@page "/EditarDetalle/{id:int}"
@using BlazorApp1.Data
@inject DetallesService service
@inject NavigationManager navigation

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label class="alert">Recurso</label>
    <InputText @bind-Value="Modelo.Recurso" />
    <label class="alert">Fecha</label>
    <InputText @bind-Value="Modelo.Fecha" />
    <label class="alert">Tiempo</label>
    <InputText @bind-Value="Modelo.Tiempo" />

    <button type="submit">Guardar</button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    public Detalles Modelo { get; set; } = new Detalles();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await service.Get(Id);
        }
        else
        {
            Modelo = new Detalles();
        }
    }


    private async void Guardar()
    {
        await service.Save(Modelo);
        navigation.NavigateTo("ListadoDetalles");
    }
}