

@page "/ListadoUsuarios"


<h3>Lista Usuarios</h3>

@using BlazorApp1.Data
@inject UsuariosService UserServ
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime


<button class="btn btn-primary" @onclick="()=>Editar(0)">Nuevo</button>
@if (usuarios == null)
{

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in usuarios)
            {
                <tr>
                    <td>@item.User</td>
                    <td><button class="btn btn-primary" @onclick="()=>Editar(item.IDUser)">Editar</button> 
                    <button class="btn btn-primary" @onclick="()=>Borrar(item.IDUser)">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>

}






@code {

    private List<Usuarios> usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await UserServ.GetAll();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("EditarUsuario/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el usuario?");
        if (confirmed)
        {
            await UserServ.Borrar(id);
            usuarios = await UserServ.GetAll();
        }
    }

}
