@page "/EditarDetalle/{id:int}"
@using BlazorApp1.Data
@inject DetallesService service
@inject RecursosService recService
@inject NavigationManager navigation

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <InputSelect @bind-Value="RecID">
            <option value="0">Elija un rol</option>
            @foreach (var item in rec)
            {
                <option value="@item.IDRecurso">@item.Nombre</option>
            }
        </InputSelect>
    </div>
    <p>
        <label>
            Production Date:
            <InputDate @bind-Value="Modelo.Fecha" />
        </label>
    </p>

    <label class="alert">Tiempo</label>
    <InputText @bind-Value="Modelo.Tiempo" />

    <button class="btn btn-primary" type="submit">Guardar</button>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }
    [Parameter]
    public int idtarea { get; set; }

    public Detalles Modelo { get; set; } = new Detalles();
    private List<Recursos> rec = new List<Recursos>();
    public string RecID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        {
            Modelo = await service.Get(id);
            RecID = Modelo.IdRecursos.ToString();

        }
        else
        {
            Modelo = new Detalles();
        }
        rec = await recService.GetAll();

    }


    private async void Guardar()
    {
        Modelo.IdRecursos = int.Parse(RecID);
        Modelo.IDTarea = idtarea;
        await service.Save(Modelo);

        navigation.NavigateTo("ListadoDetalles/");
    }
}